# .NET build artifacts
bin/
obj/
out/
publish/
**/bin/
**/obj/
**/out/
**/publish/

# User / editor files
.vscode/
.idea/
*.user
*.suo
*.swp
*.sln.docstates

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/
**/logs/

# Environment configs
.env
.env.*

# Docker-related
Dockerfile
docker-compose.yml
