<section class="relative" [class]="className">
  @if (title || subtitle) {
    <div class="flex items-end justify-between gap-6">
      <div>
        @if (title) {
          <h2 class="text-xl sm:text-2xl font-bold">{{ title }}</h2>
        }
        @if (subtitle) {
          <p class="mt-1 text-sm text-subtle">{{ subtitle }}</p>
        }
      </div>
      <div class="shrink-0">
        <ng-content select="[slot=actions]"></ng-content>
      </div>
    </div>
  }

  <div [class]="contentClass">
    <ng-content></ng-content>
  </div>
</section>
